<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Twitchy</span>
  </mat-toolbar-row>
</mat-toolbar>
<div [style.padding]="'20px'">
  <mat-accordion>
    <mat-expansion-panel (opened)="getChannel(user)" *ngFor="let user of users">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{user.display_name}}
        </mat-panel-title>
        <mat-panel-description>
          {{user.bio}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="layout">
        <div>
          <img [src]="user.logo" alt="">
        </div>
        <div (click)="getStream(user)" class="streaming" [style.background-image]="'url(' + user.channel?.video_banner + ')'">
          <div class="streaming-content">
            <h2 ><small>Status:</small> Streaming {{user.channel?.status}}</h2>
            <hr>
            <h2><small>Views:</small> {{user.channel?.views}}</h2>
            <h2><small>Followers:</small> {{user.channel?.followers}}</h2>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
